<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="item1" class="com.ecommerce.model.Item">
        <constructor-arg value="${item1.id}"/>
        <constructor-arg value="${item1.name}"/>
        <constructor-arg value="${item1.price}"/>
        <property name="description" value="${item1.description}"/>
    </bean>

    <bean id="item2" class="com.ecommerce.model.Item">
        <constructor-arg value="${item2.id}"/>
        <constructor-arg value="${item2.name}"/>
        <constructor-arg value="${item2.price}"/>
        <property name="description" value="${item2.description}"/>
    </bean>

    <bean id="item3" class="com.ecommerce.model.Item">
        <constructor-arg value="${item3.id}"/>
        <constructor-arg value="${item3.name}"/>
        <constructor-arg value="${item3.price}"/>
        <property name="description" value="${item3.description}"/>
    </bean>

    <bean id="shoppingCart" class="com.ecommerce.model.ShoppingCart">
        <constructor-arg value="${cart.id}"/>
        <property name="items">
            <list>
                <ref bean="item1"/>
                <ref bean="item2"/>
                <ref bean="item3"/>
            </list>
        </property>
        <property name="status" value="${cart.status}"/>
    </bean>

    <bean id="user" class="com.ecommerce.model.User">
        <constructor-arg value="${user.id}"/>
        <constructor-arg value="${user.username}"/>
        <property name="email" value="${user.email}"/>
        <property name="shoppingCart" ref="shoppingCart"/>
    </bean>

</beans>
